.main-stuff {
    background-image: url("six-sept.jpeg");
    background-size: 50vw 100vh;
    width: 50vw;
    height: 90vh;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}
body {
    text-align: center;
    background-image: url("donaldo.jpeg");
    background-size: 100vw 50vh;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    color: brown;
}
p, h1, h2 {
    background-color: green;
}
nav {
    padding: 300px;
}
.button {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: pink;
    padding: 67px;
    padding-left: 100px;
    padding-right: 100px;
}

