.main-stuff {
    background-image: url("six-sept.jpeg");
    background-size: 50vw 100vh;
    width: 50vw;
    height: 90vh;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}
body {
    text-align: center;
    background-image: url("donaldo.jpeg");
    background-size: 100vw 50vh;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    color: brown;
}
p, h1, h2 {
    background-color: green;
}
nav {
    padding:  200px 0px;
}
.button {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    background-color: pink;
    padding: 100px;
    margin: 0 auto;
    display: block;
}
a {
    text-decoration: none;
    font-size: 500%;
    margin: 0;
    padding: 0;
    color: peru;
}
